{% extends 'home/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="bg-white py-8 px-4">
    <div class="max-w-lg mx-auto text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">About Us</h2>
      <p class="text-gray-700 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis mauris ac purus rhoncus, eget vehicula est congue. Donec elementum tellus et nisl interdum, ut bibendum nisi rhoncus. Aliquam erat volutpat. Donec a lacinia lectus. Integer eget fermentum eros, et laoreet nisi. In vitae aliquam mi. Sed vel est a est dapibus egestas ac vitae velit.</p>
    </div>
  </section>
{% endblock %}